%p.in-gold-500.font-18.mb-25.pt-20= t('.caption')
%form
  .general-settings-btn
    = link_to(t('.label'), registration_path(current_user),
      method: :delete, data: {confirm: t('.are_you_sure')},
      class: 'btn btn-default disabled mb-20', id: 'remove-account')
  .form-group.checkbox.general-settings-checkbox
    %label.font-weight-light.pl-0
      %input#remove-account-checkbox.checkbox-input{type: 'checkbox', |
        hidden: 'true'} |
      %span.checkbox-icon
        %i.fa.fa-check
      %span.checkbox-text= t('.understood')
