%p.in-grey-600.small.mb-10= t('.filter_by_category')
.dropdown.mb-20
  %a.dropdown-toggle.dropdown-btn{href: '#', 'data-toggle': 'dropdown',
    role: 'button', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
    = capitalize_category(presenter.find_category(params[:category].to_i)[0][0])
    %i.fa.fa-angle-down.dropdown-icon
  %ul.dropdown-menu
    - @categories.each do |category|
      %li
        = link_to(capitalize_category(category.first.first),
          presenter.params.merge('category' => category.first.second))
