// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

@mixin state_button($state_color){
  $lighter: lighten($state_color, 15%);
  $darker: darken($state_color, 12%);
  background-color: $lighter !important;
  background-image: linear-gradient(180deg, $lighter, $darker) !important;
  border: solid 1px $state_color !important;
}

$in_progress_color: #a1dbff;
$in_queue_color: #7abcff;
$in_delivery_color: #009ec3;
$green_color: #009900;
$red_color: #990000;

.status_tag { 
  &.in_progress { background: $in_progress_color; }
  &.in_queue { background: $in_queue_color; }
  &.in_delivery { background: $in_delivery_color; }
  &.delivered { background: $green_color; }
  &.canceled { background: $red_color; }

  &.unprocessed { background: $in_progress_color; }
  &.approved { background: $green_color; }
  &.rejected { background: $red_color; }
}

.queue_button { @include state_button($in_queue_color); }
.deliver_button { @include state_button($in_delivery_color); }
.complete_button, .approve_button { @include state_button($green_color); }
.cancel_button, .reject_button { @include state_button($red_color); }

ol.choices-group {
  height: 200px;
  width: 200px !important;
  overflow: auto;
}

ul.images-row {
  padding: 0;
  list-style-type: none;

  li {
    display: inline;
  }
}

.row-thumb {
  margin-right: .5rem;
}
